# 1 Tipe Bahasa

## 1. A Integer (INT)
Integer merupakan tipe data angka dengan format (1, 2, 3, dst) dan (-1, -2, -3, dst)

### Umum

In [1]:
# Tanda "#" digunakan untuk menjadikan teks, value, character, variable menjadi note
# Dalam penulisan syntax harus memperhatikan kerapian agar dapat mengurut hirarki dari syntax yang dibuat
# Perlu juga memperhatikan huruf besar kecil dalam mendefinisikan variable
# Perintah Syntax yang muncul terakhir dan menganulir variable yang lebih dahulu dibuat jika dalam bar yang sama
# Untuk Desimal diwakili tanda titik "." (contoh : 4.3 dibaca empat poin tiga)
# Untuk tanda koma biasa "," untuk separate variable (contoh : 4, 3, 6 dibaca datanya 4 dan 3 dan 6)

In [2]:
print(1000)   # print merupakan fungsi/perintah(fungsi akan diikuti dengan tanda kurung) 
type(123)     # type juga merupakan fungsi

1000

int

## 1. B Floating-Point (FLOAT)
Floating-Point merupakan tipe data angka desimal dengan format (1.5, 2.5, 3.5, dst) dan (-1.5, -2.5, -3.5, dst)

In [3]:
print(4.5)
print(.4e3)   # cara membacanya 4 dikali seratus (e3)
print(3.1e-4) # cara membacanya 3.1 dibagi sepuluh ribu (e-4)
type(4.5)

4.5
400.0
0.00031

float

## 1. C String (STR)
String adalah tipe data Python yang berupa sequence of character data (teks) Harus pakai tanda PETIK

In [4]:
print("sedang belajar dan atau mengulang pelajaran")
print("Pelajaran ini 'MENYENANGKAN'")
type("Kata SIAPA")

sedang belajar dan atau mengulang pelajaran
Pelajaran ini 'MENYENANGKAN'

str

## 1. D Boolean (BOOL)
Boolean adalah tipe data di Python yang berupa True atau False (isinya untuk menentukan benar atau salah saja suatu pernyataan)

In [5]:
True

True

In [6]:
False

False

In [7]:
type(True)

bool

# 2 Variable
Ada 2 Tajuk untuk Variable :
1. Variables Assignment
2. Variables Names

Semua Variable tidak boleh diawali dengan ANGKA

## 2. 1 Variable Assignment
Mendefinisikan variable dengan nilai tertentu yang berupa angka

In [8]:
N = 100    # N = 100 merupakan variable, N dengan nilai seratus
n = 2      # n = 2 merupakan variable, n dengan nilai dua

In [9]:
print(N * n)
print(N, n)

200
100 2

In [10]:
# Python juga bisa mendefinisikan beberapa variable dengan nilai yang sama #
a = b = c = 25

In [11]:
print(a, b, c)

25 25 25

## 2. 2 Variable Names
Mendefinisikan variable dengan nilai tertentu yang berupa teks/string

In [12]:
E = "Ega"
e = "Eldori"
p = "Poetra"

print(E,e,p)
type(E)

Ega Eldori Poetra

str

In [13]:
# Variable di Python sudah pintar untuk membaca unik variable yang dibuat dan dapat mempedakannya #
Age = p = 10
aGe = q = 11
agE = r = 13

print(Age, aGe, agE)
print(r, q, p)

10 11 13
13 11 10

# 3 Operators
Operator digunakan untuk melakukan manipulasi nilai dari suatu perhitungan

In [14]:
#### Contoh fungsi operator aritmatika

# +   untuk penjumlahan
# -   untuk pengurangan
# *   bintang untuk perkalian
# /   garis miring untuk pembagian
# **  bintang 2 kali untuk pangkat dengan nilai pemangkatan ada di kanan
# %   Menghasilkan sisa pembagian
# //  Pembagian akan menghasilkan nilai bulat, menghapus desimal

#### Contoh fungsi operator perbandingan "AKAN MENGHASILKAN NILAI TRUE OR FALSE (BOOLIAN) "

# <   simbol lebih kecil
# >   simbol lebih besar
# <=  simbol lebih kecil atau sama dengan
# >=  simbol lebih besar atau sama dengan
# !   awalan tanda seru pada simbol lain untuk pernyataan TIDAK
# !=  artinya tidak sama dengan

In [15]:
# ARITMATIKA SEDERHANA #
a = 3
b = 7
c = 10

d = a * c / b

print(d)
print(b**a)
print(c % a)

4.285714285714286
343
1

In [16]:
# PERBANDINGAN #

print(a > b)
print((c - b) == a)
print(a != b)

False
True
True

# 4 String Manipulation
Fungsi string juga bisa dibuat aritmatika (+ dan *), rubah huruf besar kecil, mencari penggalan hasinya tetap tipe string

In [17]:
# STRING ARITMATIKA #

a = "papa"
b = "aiko"
c = "tamvan"

print(a + b + c)  # Mirip fungsi CONCATENATE di dalam excel
print(a * 2)
print(a, b , c)

papaaikotamvan
papapapa
papa aiko tamvan

In [18]:
# STRING PENGGALAN KATA # Menggunakan fungsi IN outputnya True or False #

a = "Kita"
b = "Maka"
c = "Pagi"

print(a in "Bersama Kita Bisa")
print(b in "Makan siang bersama")
print(c in "Tidurlah di Siang hari")

True
True
False

In [19]:
# STRING CONVERSION #

k = "geDebook biKin Palalu sakiT"

print(k.capitalize())  # Merubah karakter pertama menjadi huruf BESAR
print(k.upper())       # Merubah menjadi huruf BESAR SEMUA
print(k.lower())       # Merubah menjadi huruf KECIL SEMUA
print(k.title())       # Merubah setiap awal kata menjadi HURUF BESAR
print(k.swapcase())    # Memutar balikan fakta

Gedebook bikin palalu sakit
GEDEBOOK BIKIN PALALU SAKIT
gedebook bikin palalu sakit
Gedebook Bikin Palalu Sakit
GEdEBOOK BIkIN pALALU SAKIt

# 5 LIST
Membuat daftar dengan mengawalinya dengan simbol [  ]

In [20]:
m = ["Manchaster United", "Chelsea", "Blackburn", "Liverpool"] # MU, Chelsea, dll merupakan Element dari LIST
n = ["Liverpool", "Blackburn", "Chelsea", "Manchaster United"]
o = ["Barca", 1.5, "Real Madrid", True, "Villa"]

##### Penting untuk diketahui python list memiliki karakteristik sbb:
- Berurutan
- Bisa berisi nilai sembarangan
- Element dapat diakses menggunakan INDEKS
- Dapat dirubah

In [21]:
m == n

False

###### FORMULASI INDEKS #

- Kalau dari kiri ke kanan kata pertama dimulai dari nol, 123 dst
- Kalau dari kanan ke kiri kata pertama dimulai dari minus -1, -234, dst

In [22]:
print(m[0])   # Ambil elemen pertama dari variable m
print(o[-2])  # Ambil elemen kedua dari sebelah kanan (kata kedua terakhir) variable o
print(o[:2])  # Ambil 2 elemen pertama dari kiri
print(n[1:3]) # Ambil elemen kedua dari kiri sampai elemen ke tiga

Manchaster United
True
['Barca', 1.5]
['Blackburn', 'Chelsea']

In [23]:
print(len(m))
print(len(n))
print(len(o))
print(len(m*2))
print(m + ["True Legends"])

4
4
5
8
['Manchaster United', 'Chelsea', 'Blackburn', 'Liverpool', 'True Legends']

In [24]:
print(min(m))  # Mencari Urutan terkecil
print(max(n))  # Mencari Urutan terbesar

Blackburn
Manchaster United

# 6 Modifying List Value

## 6.1 Modifying Single List
A single value in a list can be replaced by indexing and simple assignment:

In [25]:
print(m)
print(n)
print(o)

['Manchaster United', 'Chelsea', 'Blackburn', 'Liverpool']
['Liverpool', 'Blackburn', 'Chelsea', 'Manchaster United']
['Barca', 1.5, 'Real Madrid', True, 'Villa']

In [26]:
m[1] = "Manchaster City"
print(m)

['Manchaster United', 'Manchaster City', 'Blackburn', 'Liverpool']

In [27]:
del n[-1]
print(n)

['Liverpool', 'Blackburn', 'Chelsea']

## 6.2 Modifying Multiple List
What if you want to change several contiguous elements in a list at one time? Python allows this with slice assignment, which has the following syntax

In [28]:
m[:2] = ["Aston", "Arsenal", "PSMS"]
print(m)

# Pakai INDEKS SLICE untuk memodifikasi banyak elemen sekaligus #

['Aston', 'Arsenal', 'PSMS', 'Blackburn', 'Liverpool']

# 7 Dictonary
Membuat dan mengakses dictonary/kamus/master data setiap elemen, value, variable

In [29]:
identitas = {                   
    "First Name" : "Ega",
    "Last Name"  : "Eldori",
    "Age"        : 30,
    "Chilren"    : 2
}

# Data di atas dapat diartikan variable identitas adalah kumpulan dari beberapa value yang mana masing" value 
# memiliki elemen. Value "First Name" - Elemennya "Ega".. Antar value dipisahkan dengan tanda koma (, separate)

In [30]:
identitas

{'First Name': 'Ega', 'Last Name': 'Eldori', 'Age': 30, 'Chilren': 2}

In [31]:
print(identitas["First Name"])

Ega

In [32]:
del(identitas["Age"])

In [33]:
identitas

{'First Name': 'Ega', 'Last Name': 'Eldori', 'Chilren': 2}

#### Bertingkat

In [34]:
SSW_1 = {}  # tidak langsung di isi, jadi cuma nyiapkan template saja
type(SSW_1)

SSW_1["Bos"]   = "Hendra Utama"
SSW_1["TCP"]   = ["Yudi", "Muslim", "Mandor", ["Bang Iwan", " Pak Asli"]] # List bertingkat
SSW_1["Staff"] = {"SMO" : "Ega", "SMT" : "Anang", "SSW" : "Walter" } # Element dalam Element

# Bedanya disini pakai simbol sama dengan, Karena sedang tidak berada dalam kurungan []{}

In [35]:
print(SSW_1["Staff"])
print(SSW_1["Staff"]["SMO"]) # Kalau mau manggil Elemen yang dalam elemen pakai dua kali [][]
print(SSW_1["Staff"]["SMO"], SSW_1["TCP"][1])
print(SSW_1["TCP"][3][1]) # Perintahnya tampilkan Value TCP Indeks ke 3, lalu cari  indeks 1 dari situ

# Kalau mau dirubah, update, nambah, hapus sama kaya cara di atas #

{'SMO': 'Ega', 'SMT': 'Anang', 'SSW': 'Walter'}
Ega
Ega Muslim
 Pak Asli

In [36]:
# Built-in Methods # Kimpulan menurut BETA #
# f = {a = 10, b = 20, c = 30} --> disini f merupakan variable, a merupakan value, 10 merupakan element #
# Mendifinisikan Variable yang memiliki beberapa value harus pakai Kurung Kurawal {}

# Kalau menurut Python kek gini #

print(SSW_1.items())
print(SSW_1.values())
print(SSW_1.keys())

dict_items([('Bos', 'Hendra Utama'), ('TCP', ['Yudi', 'Muslim', 'Mandor', ['Bang Iwan', ' Pak Asli']]), ('Staff', {'SMO': 'Ega', 'SMT': 'Anang', 'SSW': 'Walter'})])
dict_values(['Hendra Utama', ['Yudi', 'Muslim', 'Mandor', ['Bang Iwan', ' Pak Asli']], {'SMO': 'Ega', 'SMT': 'Anang', 'SSW': 'Walter'}])
dict_keys(['Bos', 'TCP', 'Staff'])